*{
    margin: 0;
}
@font-face {
	font-family: 'Sansita';
	src: url('fonts/Sansita-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto Condensed', sans-serif;
	src: url('fonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
}
.cont{
    max-width: 414px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0;
}
.ham{
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
}
.cerrar-menu{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-weight: initial;
    border: 1px solid #000;
    padding: 2px;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.menu{
    position: absolute;
    width: 70%;
    min-height: 100vh;
    left: 0px;
    background-color: #fff;
    font-family: 'Roboto';
    border-right: 1px solid #000;
    font-weight: bold;
    top: 0;
    padding: 30px 10px 40px 20px;
    z-index: 1;
    box-sizing: border-box;
    /* display: none; */
}
.menu-opc{
    padding-bottom: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}
.menu-opc-2{
    padding-bottom: 25px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}
.menu-opc-2:hover{
    text-decoration: initial;
}
.container{
    display: block;
    padding: 0 0 20px 10px;
}
.container:first-child{
    padding: 20px 0 20px 10px;

}
.cont-check{
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    font-weight: normal;
    font-size: 14px;
}
.checkmark{

}
.cont-card{
    box-sizing: border-box;
    margin: 0 20px;
    width: 100%;
}
form{
    margin: 0 auto;
    box-sizing: border-box;
}
.form-img{
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
    display: block;
}
textarea{
    width: 100%;
    padding: 4px 6px;
    height: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #000;
    box-sizing: border-box;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}
.intro{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
    max-width: 300px;
    margin: 15px auto;
}
.txt-input{
    font-family: 'Roboto', sans-serif;
    color: #1391ff;
    padding: 8px 0 2px 0;
    font-size: 14px;
    box-sizing: border-box;
    max-width: 300px;
    margin: 0 auto;
}
.input{
    width: 100%;
    padding: 4px 6px;
    border: 1px solid #000000d9;
    background-color: #ffffff;
    box-sizing: border-box;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 2px;
}
.cont-buttons{
    text-align: center;
}
button{
    margin: 20px 5px;
    padding: 10px;
    border: 1px solid #000;
}
@media screen and (max-width: 320px) {
    button{
        margin: 20px 0;
    }
}